#* @implicitly included *#
#* @vtlvariable name="date" type="org.joda.time.DateTime" *#
#* @vtlvariable name="gen" type="com.github.houkunlin.vo.Variable.static" *#
#* @vtlvariable name="settings" type="com.github.houkunlin.config.Settings" *#
#* @vtlvariable name="settings.projectPath" type="java.lang.String" *#
#* @vtlvariable name="settings.javaPath" type="java.lang.String" *#
#* @vtlvariable name="settings.resourcesPath" type="java.lang.String" *#
#* @vtlvariable name="developer" type="com.github.houkunlin.config.Developer" *#
#* @vtlvariable name="developer.author" type="java.lang.String" *#
#* @vtlvariable name="developer.email" type="java.lang.String" *#
#* @vtlvariable name="entity" type="com.github.houkunlin.vo.impl.EntityImpl" *#
#* @vtlvariable name="entity.name" type="java.util.Map<java.lang.String, com.github.houkunlin.vo.impl.EntityName>" *#
#* @vtlvariable name="entity.name.entity" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.name.service" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.name.serviceImpl" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.name.dao" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.name.controller" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.name.xml" type="com.github.houkunlin.vo.impl.EntityName" *#
#* @vtlvariable name="entity.packages" type="com.github.houkunlin.vo.impl.EntityPackage" *#
#* @vtlvariable name="entity.packages.entity" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="entity.packages.service" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="entity.packages.serviceImpl" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="entity.packages.dao" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="entity.packages.controller" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="entity.packages.xml" type="com.github.houkunlin.vo.impl.EntityPackageInfo" *#
#* @vtlvariable name="table" type="com.github.houkunlin.vo.impl.TableImpl" *#
#* @vtlvariable name="primary" type="com.github.houkunlin.vo.impl.PrimaryInfo" *#
#* @vtlvariable name="fields" type="java.util.List<com.github.houkunlin.vo.impl.EntityFieldImpl>" *#
#* @vtlvariable name="columns" type="java.util.List<com.github.houkunlin.vo.impl.TableColumnImpl>" *#
